:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}


* {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: var(--wenge-brown)
}

@font-face {
    font-family: "Outfit";
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Young Serif";
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--eggshell);
}

main {
    max-width: 700px;
    width: 100%;
    background-color: var(--white);
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 2rem 0;
}

.img-container, .text-container {
    padding: 0rem 2rem;
}

img {
    width: 100%;
    border-radius: 1rem;
}

h1, h2 {
    font-family: "Young Serif", serif;    
    font-weight: 400;
    margin: 1rem 0rem;
}

h1 {
    color: var(--dark-charcoal);
}

h2 {
    color: var(--nutmeg)
}

h3 {
    color: var(--dark-raspberry);
    font-weight: 600;
    margin: 0;
}

section {
    margin: 2rem 0rem;
}

.preparation {
    background-color: var(--rose-white);
    padding: 1rem;
    border-radius: .5rem;
}

section li::marker {
    color: var(--nutmeg);
    font-weight: bold;
}

.preparation li::marker {
    color: var(--dark-raspberry);
    font-weight: bold;
}

.ingredients, .instructions {
    border-bottom: .1rem solid var(--light-grey);
}

ul, ol {
    margin-left: -1rem;
}

li {
    padding: .5rem 1rem;
}

li b {
    font-weight: 600;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td {
    padding: 1rem;
    padding-right: 2rem;
    border-bottom: 0.1rem solid var(--light-grey);
}

table tr:last-of-type td {
    border-bottom: 0;
}


table td:nth-child(2) {
    font-weight: bold;
    color: var(--nutmeg);
}

.nutrition {
    margin-bottom: 0;
}

@media (max-width: 375px) {
    main {
        margin: 0;
        border-radius: 0;
        padding: 0;
    }

    .img-container, img {
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
}